h1{
    text-align: center;
    text-decoration: underline;
    padding-bottom: px;
    border-bottom:solid 3px black;

}

a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
    font-size: large;
}



nav{
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: bisque ;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 2px solid #000; 
}

#br_news {
    font-weight: bold;
    padding-top: 15px;
    background-color: darkred;
}

#economy {
    padding-top: 15px;
    background-color: orange;
}

#sport {
    padding-top: 15px;
    background-color: green;
}

#entertainment {
    padding-top: 15px;
    background-color: blueviolet;
}

dt {
    font-size: small;
    font-style: italic;
    text-align: end;
    border-bottom:solid 3px black;
}

#sport_dt{
    text-align: left;
    font-style: normal;
}


